<!DOCTYPE html>
<html 
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
    lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap"/>
    <meta name="description" content="{{ block `desc` . }}ErDmKo blog{{ end }}"/>
    {{ block `head` . }}
    {{ end }}
    {{ with .Site.Social.twitter -}}
    <meta name="twitter:site" content="@{{ . }}"/>
    {{ end -}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ block "title" . }}ErDmKo Blog{{end}}</title>
    {{ $css := resources.Get "css/main.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    <link media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap" rel="stylesheet">
    {{ $favicon := resources.Get "img/favicon.png" }}
    {{ $sm := $favicon.Resize "32x32" }}
    {{ $ico := $sm.Content | resources.FromString "/favicon.ico" }}
    <link 
        type="image/x-icon"
        rel="shortcut icon"
        href="{{ $ico.Permalink }}"/>
    <link 
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{ $sm.Permalink }}"
    />
    {{ $sm := $favicon.Resize "180x180" }}
    <link 
        rel="apple-touch-icon"
        sizes="180x180"
        href="{{ $sm.Permalink }}"
    />
    {{ $sm := $favicon.Resize "16x16" }}
    <link 
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ $sm.Permalink }}"
    />
    <!--link 
        rel="manifest"
        href="/site.webmanifest"
    />
    <link 
        rel="mask-icon"
        href="<%= Routes.static_path(@conn, "/img/safari-pinned-tab.svg") %>"
    /-->
  </head>
  <body class="c">
    <header class="l">
        <aside class="q">
            <h2>ErDmKo blog</h2>
            <p>Блог обо всем понемногу</p>
            <nav class="n">
                <a href="{{ .Site.BaseURL }}">Список статей</a>
                <a href="/">Главная</a>
                {{ with .NextInSection }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
                {{ with .PrevInSection }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            </nav>
        </aside>
    </header>
    <main role="main" class="r">
        <article class="a">
        {{ block "main" . }}
        {{ end }}
        </article>
    </main>
    <script async src="/static/js/mc.js"></script>
    <script>
      window.ym = (...args) => {
        window.ym.a = (window.ym.a || []);
        window.ym.a.push(args);
      };
      ym(64378813, "init");
    </script>
</body>
</html>
